<app-navbar-vistas></app-navbar-vistas>

<div class="banner">
  <div class="capa"></div>
  <div class="info">
    <h1>Bienvenido Administrador del Hotel</h1>
    <p>
      El administrador del hotel puede consultar todas las reservaciones hechas,
      buscar a un usuario hospedado en su hotel, ver las habitaciones
      disponibles y las facturas con todos los servicios.
    </p>
  </div>
</div>

<!------------------------>

<section class="intro">
  <div class="bg-image h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="title-cards">
                    <h2>Habitaciones</h2>
                    <h3>Habitaciones disponibles: {{ hDisponibles }}</h3>
                    <h3>Habitaciones reservadas: {{ hOcupados }}</h3>
                  </div>

                  <div class="wrap">
                    <div class="search">
                      <input
                        [(ngModel)]="search"
                        type="text"
                        class="searchTerm"
                        placeholder="Buscar"
                      />
                      <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>

                  <button
                    id="ap"
                    type="button"
                    class="learn-more"
                    data-bs-toggle="modal"
                    data-bs-target="#modalAgregarCuarto"
                    data-bs-toggle="modal"
                  >
                    <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Agregar habitación</span>
                  </button>

                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Habitación</th>
                        <th scope="col">Espacio de personas</th>
                        <th scope="col" scope="col">Estado</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Usuario hospedado</th>
                        <th scope="col">Modificar habitación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cuartos of getModelo | busqueda: search">
                        <th scope="row">{{ cuartos.nombre }}</th>
                        <td>
                          <span>
                            <span>{{ cuartos.espacio }} personas</span>
                          </span>
                        </td>
                        <td>
                          <span>
                            <span>{{ cuartos.disponibilidad }}</span>
                          </span>
                        </td>
                        <td>
                          <span>
                            <span>Q.{{ cuartos.precio }}</span>
                          </span>
                        </td>
                        <td>
                          <span>
                            <span>
                              <td
                                *ngIf="
                                  cuartos.idUsuario || cuartos.idUsuario != null
                                "
                              >
                                {{ cuartos.idUsuario.nombre }}
                                <button
                                  (click)="verUsuario(cuartos.idUsuario._id)"
                                  data-bs-toggle="modal"
                                  data-bs-target="#exampleModalVerUsuario"
                                  class="btn btn-outline-success"
                                >
                                  <i class="fa-solid fa-eye"></i>
                                </button></td
                            ></span>
                          </span>
                          <span>
                            <span>
                              <td
                                *ngIf="
                                  !cuartos.idUsuario ||
                                  cuartos.idUsuario == null
                                "
                              >
                                Sin ocupante
                              </td></span
                            >
                          </span>
                        </td>

                        <td>
                          <span>
                            <span>
                              <a
                                ><button
                                  [routerLink]="[
                                    '/routerHotel/editarCuarto',
                                    cuartos._id
                                  ]"
                                  class="btn btn-outline-primary"
                                >
                                  <i class="fa-solid fa-pen"></i></button
                              ></a>
                            </span>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="modalAgregarCuarto"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo cuarto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #agregarCuarto="ngForm">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <span *ngIf="!nombre.valid && nombre.touched" class="requiredField">
              Campo requerido
            </span>
            <input
              type="text"
              class="form-control"
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="postModelo.nombre"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Espacio de personas</label>
            <span
              *ngIf="!espacio.valid && espacio.touched"
              class="requiredField"
            >
              Campo requerido
            </span>
            <input
              type="number"
              class="form-control"
              name="espacio"
              #espacio="ngModel"
              [(ngModel)]="postModelo.espacio"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Descripcion</label>
            <span
              *ngIf="!descripcion.valid && descripcion.touched"
              class="requiredField"
            >
              Campo requerido
            </span>
            <input
              type="text"
              class="form-control"
              name="descripcion"
              #descripcion="ngModel"
              [(ngModel)]="postModelo.descripcion"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Precio</label>
            <span *ngIf="!precio.valid && precio.touched" class="requiredField">
              Campo requerido
            </span>
            <input
              type="number"
              class="form-control"
              name="precio"
              #precio="ngModel"
              [(ngModel)]="postModelo.precio"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          [disabled]="!agregarCuarto.form.valid"
          (click)="postHabitacion(agregarCuarto)"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalVerUsuario"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuario hospedado</h5>
      </div>
      <div class="modal-body">
        <div id="table" class="container emp-profile">
          <form #editForm="ngForm" method="post">
            <div class="row">
              <div class="col-md-4">
                <div class="profile-img">
                  <img
                    class="rounded-circle mt-5"
                    width="200px"
                    src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="profile-head">
                  <h5>
                    <span class="font-weight-bold"
                      >Nombre: {{ getUsuario.nombre }}</span
                    >
                  </h5>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                  >
                    <div class="row">
                      <div class="col-md-5">
                        <label>Correo</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <input
                            readonly
                            type="text"
                            class="form-control"
                            name="email"
                            #email="ngModel"
                            required="true"
                            [(ngModel)]="getUsuario.email"
                          />
                        </p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5">
                        <label>Telefono</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <input
                            readonly
                            type="number"
                            class="form-control"
                            name="telefono"
                            #telefono="ngModel"
                            required="true"
                            [(ngModel)]="getUsuario.telefono"
                          />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
