<app-navbar-vistas></app-navbar-vistas>

<body>
  <div id="table" class="container emp-profile">
    <form #editForm="ngForm" method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img
              *ngIf="getIdModelo.rol == 'ADMIN'"
              class="rounded-circle mt-5"
              width="150px"
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
            />

            <img
              *ngIf="getIdModelo.rol == 'HOTEL'"
              class="rounded-circle mt-5"
              height="300px"
              src="https://img.freepik.com/vector-gratis/hotel-o-motel-vector-edificio-ciudad-ciudad-ilustracion-dibujos-animados-plana-aislado-sobre-fondo-blanco_212005-309.jpg?w=740"
            />

            <img
              *ngIf="getIdModelo.rol == 'USUARIO'"
              class="rounded-circle mt-5"
              width="200px"
              src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5>
              <span
                *ngIf="
                  getIdModelo.rol == 'USUARIO' || getIdModelo.rol == 'ADMIN'
                "
                class="font-weight-bold"
                >Nombre: {{ getIdModelo.nombre }}</span
              >
            </h5>
            <h6 *ngIf="this.identidad.rol == 'ADMIN'">Administrador de la aplicación</h6>
            <p class="proile-rating">OPCIONES : <span></span></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >Editar perfil</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <button
            *ngIf="getIdModelo.rol == 'ADMIN'"
            routerLink="/principal/administracion"
            class="btn btn-primary"
            type="button"
          >
            Regresar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row">
                <div class="col-md-5">
                  <label>Nombre</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <input
                      type="text"
                      class="form-control"
                      name="nombre"
                      required="true"
                      #nombre="ngModel"
                      [(ngModel)]="getIdModelo.nombre"
                    />
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label>Correo</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      #email="ngModel"
                      required="true"
                      [(ngModel)]="getIdModelo.email"
                    />
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label>Direccion</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <input
                      type="text"
                      class="form-control"
                      name="direccion"
                      #direccion="ngModel"
                      required="true"
                      [(ngModel)]="getIdModelo.direccion"
                    />
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <label>Gerente</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <input
                      type="text"
                      class="form-control"
                      name="gerente"
                      #gerente="ngModel"
                      required="true"
                      [(ngModel)]="getIdModelo.gerente"
                    />
                  </p>
                </div>
              </div>

              <div *ngIf="this.identidad.rol == 'USUARIO'||this.identidad.rol == 'HOTEL'" class="row">
                <div class="col-md-5">
                  <label>Telefono</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <input
                      type="number"
                      class="form-control"
                      name="telefono"
                      #telefono="ngModel"
                      required="true"
                      [(ngModel)]="getIdModelo.telefono"
                    />
                  </p>
                </div>
              </div>
              <div class="row" *ngIf="this.identidad.rol=='HOTEL'&&this.libres==0">
                <div class="col-md-5">
                  <label>Agregar habitaciones</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      #email="ngModel"
                      required="true"
                      [(ngModel)]="getIdModelo.cuartos"
                    />
                  </p>
                </div>
              </div>

            </div>
          </div>
          <button
            [disabled]="!editForm.form.valid"
            (click)="putPerfil()"
            id="btnAgregar"
            class="learn-more"
          >
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Guardar</span>
          </button>
        </div>
      </div>
    </form>
  </div>

</body>

<body>


  <h3 *ngIf="this.identidad.rol == 'USUARIO'">Mis reservaciones actuales</h3>

  <div *ngIf="this.identidad.rol == 'USUARIO'">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-info border-primary">
        <thead>
          <tr>
            <th scope="col">Habitaciones</th>
            <th scope="col">Hotel</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of getHabitacion">
            <td>{{ info.nombre }}</td>
            <td>{{ info.idHotel.nombre }}</td>
            <td>
              <a
                ><button
                  (click)="cancelar(info._id)"
                  class="btn btn-outline-danger"
                >
                  <i class="fa-solid fa-ban"></i></button
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h3 *ngIf="this.identidad.rol == 'USUARIO'">Historial de hospedaje</h3>

  <div *ngIf="this.identidad.rol == 'USUARIO'">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-info border-primary">
        <thead>
          <tr>
            <th scope="col">Hotel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of getHistorial">
            <td>{{ info.idHotel.nombre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
